{% extends 'events/base.html' %}

{% block content %}

<center>
    <h2 style="margin-bottom: 50px;">Events for {{ month }} {{ year }}</h2>
    <p style="margin-bottom: 50px;">As of {{ time }}</p>
    <h3 style="margin-bottom: 50px;">{{ cal|safe }}</h3>
    <hr>
</center>
    <br><br>
    {% if events %}
        <h3>Events This Month...</h3>
        <br>
        {% for event in events %}
        <div class="card">
            <div class="card-header text-bg-dark fs-4">{{ event }}</div>
            <div class="card-body">
                <h5 class="card-title"><a href="{{ event.venue.web }}">Venue: {{ event.venue }}</a><br>
                </h5><small>Address: {{ event.venue.address }}</small>
                <p class="card-text">
                    <p>Date: {{ event.event_date }}</p>
                    <ul>
                        <li><p>Host: {{ event.manager }}</p></li>
                        <li><p>Description: {{ event.description }}</p></li>
                        <li><p>Attendees: </p></li>
                        {% for user in  event.attendees.all %}
                            {{ user }}, contact: {{ user.email }}<br>
                        {% endfor %}
                    </ul>
                </p>
                    {% if user.is_authenticated %}
                        {% if user == event.manager %}
                            <hr>
                            <a href="{% url 'update_event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
                            <a href="{% url 'delete_event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
                        {% endif %}
                    {% endif %}
            </div>
        </div>
        <br/><br/>
        {% endfor %}
    {% else %}
    <center>
        <h3>You Don't Have Any Event This Month...</h3>
    </center>
    {% endif %}

{% endblock %}
