{% extends 'events/base.html' %}

{% block content %}
    <h1 style="margin-bottom: 50px;">{{ venue.name }}</h1>
        <div class="card">
            <div class="card-body">
                <p>Phone: {{ venue.phone }}</p>
                <p>Email: {{ venue.email_address }}</p>
                <p>Web: <a href="{{ venue.web }}">{{ venue.web }}</a></p>
                <p>Address: {{ venue.address }} <small>(Zip Code:{{ venue.zip_code }})</small></p>
                <p>Owner: {{ venue_owner.first_name }}  {{ venue_owner.last_name }}</p>
                <p>Owner's Email: {{ venue_owner.email }}</p>
                {% if user.is_authenticated %}
                    {% if user.id == venue.owner %}
                        <a href="{% url 'update_venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="{% url 'delete_venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br/><br/>
{% endblock %}